<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input Highlighter type="text" id="name" name="name" class="form-control" [(ngModel)]="IngName">
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input appBetterHighligher type="number" id="amount" name="amount" class="form-control"  [(ngModel)]="IngAmount">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button  style="margin:5px;" class="btn btn-success mr-3" type="button" (click)="AddMe()">Add</button>
          <button  style="margin:5px;" class="btn btn-danger mr-3" type="button">Delete</button>
          <button  style="margin:5px;" class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>



